$grey: rgb(249, 249, 249);
$orange: rgba(240, 96, 0, 0.973);
$brownish: rgba(170, 68, 0, 0.973);

@font-face {
  font-family: "verdana";
  src: url("../assets/fonts/verdana-font-family/verdana.ttf");
}
